<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #3273dc;">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#" style="color: #fff;">
                <strong>SIG - Kecamatan Kelapa Lima</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#about" style="color: #fff;">
                    Tentang Kami
                </a>
                <a class="navbar-item" href="#map" style="color: #fff;">
                    Peta Lokasi
                </a>
                <a class="navbar-item" href="#contact" style="color: #fff;">
                    Hubungi Kami
                </a>
            </div>
        </div>
    </div>
</nav>
